/* Slide Top */
.slide-top {
    opacity: 0;
    animation: slidetop 0.25s linear forwards;
}

@keyframes slidetop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Slide Left (plays after Slide Top) */
.slide-left {
    opacity: 0;
    animation: slideleft 0.25s linear forwards;
    animation-delay: 0.25s;
    /* Delay it by 0.25s to start after Slide Top */
}

@keyframes slideleft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Slide Right (plays after Slide Left) */
.slide-right {
    opacity: 0;
    animation: slideright 0.25s linear forwards;
    animation-delay: 0.5s;
    /* Delay it by 0.5s to start after Slide Left */
}

@keyframes slideright {
    0% {
        
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.typing-effect {
    width: 8ch;
    animation: typing 3s steps(8) alternate infinite, blink 1s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
}

@keyframes typing {
    0% {
        width: 0;
    }
    15%{
        width: 0;
    }

    50% {
        width: 8ch;
    }

    100% {
        width: 8ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.slide-from-right {
    animation: sfr .4s 1;
}

@keyframes sfr {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-from-top-left {
    animation: sftl .4s 1;
}

@keyframes sftl {
    from {
        transform: translate(-100%, -100%);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.slide-from-left {
    animation: sfl .4s 1;
}

@keyframes sfl {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.draw-border {
    transition: all 4s;
    transition: color 0.25s 0.0833333333s;
    transition: all .2s;
    position: relative;
}

.draw-border::before,
.draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.draw-border:hover {
    color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
    border-color: #ffe593;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

